.podtytul {
    color: rgb(255, 111, 0);
    background-color: rgba(0, 0, 0, 0.84)
}

.dark {
    color: #eee;
    background: #222;
}

.naglowek {
    color: rgb(148, 0, 0);
    text-shadow: 1px 1px 10px #393939;
    box-shadow: 1px 1px 3px 0px #323232;
    padding: 5px 10px;
    background-color: #ededed;
}

.fajnaSprawa {
    color: red
}

.zakonczenie {
    color: rgb(0, 138, 30)
}

.pudelko {
    color: hsla(189, 90%, 72%, 0.925);
    background-color: rgb(43, 42, 42)
}

.ciekawaGra {
    color: rgb(246, 255, 0)
}